[submodule "deps/libfmt"]
	path = deps/libfmt
	url = https://github.com/clearmist/libfmt.git
[submodule "deps/libmbedtls"]
	path = deps/libmbedtls
	url = https://github.com/clearmist/libmbedtls.git
[submodule "deps/libtoolchain"]
	path = deps/libtoolchain
	url = https://github.com/clearmist/libtoolchain.git
